<header id="site-header" class="header-one">
    <div class="header-main header-sticky">
        <div class="container-fluid">
            <div class="mob-menu-open toggle-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <div class="row">
                <div class="col-lg-2 col-12">
                    <div class="site-logo">
                        <a href="index.html" class="main-logo"><img src="assets/img/logo.png" alt="Site Logo"></a>
                        <a href="index.html" class="sticky-logo"><img src="assets/img/sticky-logo.png" alt="Site Logo"></a>
                    </div>
                </div>
                <div class="col-lg-7 col-12 possition-static">
                    <nav class="site-nav">
                        <ul class="site-menu">
                            <li><a href="#">Home</a>
                                <ul class="dropdown-menu-col-1">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index2.html">Home 2</a></li>
                                </ul>
                            </li>
                            <li><a href="about-us.html">About</a></li>
                            <li>
                                <a href="#">Listing</a>
                                <ul class="dropdown-menu-col-1">
                                    <li>
                                        <a href="listing-grid-view1.html">Listing Grid View 1</a>
                                    </li>
                                    <li>
                                        <a href="listing-grid-view2.html">Listing Grid View 2</a>
                                    </li>
                                    <li>
                                        <a href="listing-grid-view3.html">Listing Grid View 3</a>
                                    </li>
                                    <li>
                                        <a href="listing-grid-view4.html">Listing Grid View 4</a>
                                    </li>
                                    <li>
                                        <a href="listing-grid-view5.html">Listing Grid View 5</a>
                                    </li>
                                    <li>
                                        <a href="listing-list-view1.html">Listing List View 1</a>
                                    </li>
                                    <li>
                                        <a href="listing-list-view2.html">Listing List View 2</a>
                                    </li>
                                    <li>
                                        <a href="single-listing1.html">Listing Details 1</a>
                                    </li>
                                    <li>
                                        <a href="single-listing2.html">Listing Details 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Events</a>
                                <ul class="dropdown-menu-col-1">
                                    <li>
                                        <a href="event.html">Event</a>
                                    </li>
                                    <li>
                                        <a href="single-event.html">Event Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="possition-static hide-on-mobile-menu">
                                <a href="#">Pages</a>
                                <div class="template-mega-menu">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="menu-ctg-title">Home</div>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="index.html">
                                                            <i class="fas fa-home"></i>Home 1</a>
                                                    </li>
                                                    <li>
                                                        <a href="index2.html">
                                                            <i class="fas fa-home"></i>Home 2</a>
                                                    </li>
                                                </ul>
                                                <div class="menu-ctg-title">Listing</div>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="listing-grid-view1.html"><i class="fas fa-map-marker-alt"></i>Listing
                                                            Grid View 1</a>
                                                    </li>
                                                    <li>
                                                        <a href="listing-grid-view2.html"><i class="fas fa-map-marker-alt"></i>Listing
                                                            Grid View 2</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-3">
                                                <div class="menu-ctg-title">Listing</div>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="listing-grid-view3.html"><i class="fas fa-map-marker-alt"></i>Listing
                                                            Grid View 3</a>
                                                    </li>
                                                    <li>
                                                        <a href="listing-grid-view4.html"><i class="fas fa-map-marker-alt"></i>Listing
                                                            Grid View 4</a>
                                                    </li>
                                                    <li>
                                                        <a href="listing-grid-view5.html"><i class="fas fa-map-marker-alt"></i>Listing
                                                            Grid View 5</a>
                                                    </li>
                                                    <li>
                                                        <a href="listing-list-view1.html"><i class="fas fa-map-marker-alt"></i>Listing
                                                            List View 1</a>
                                                    </li>
                                                    <li>
                                                        <a href="listing-list-view2.html"><i class="fas fa-map-marker-alt"></i>Listing
                                                            List View 2</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-3">
                                                <div class="menu-ctg-title">Listing</div>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="single-listing1.html"><i class="fas fa-map-marker-alt"></i>Listing
                                                            Details 1</a>
                                                    </li>
                                                    <li>
                                                        <a href="single-listing2.html"><i class="fas fa-map-marker-alt"></i>Listing
                                                            Details 2</a>
                                                    </li>
                                                </ul>
                                                <div class="menu-ctg-title">Pages</div>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="add-listing.html">
                                                            <i class="fab fa-elementor"></i>Add Listing
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="profile.html">
                                                            <i class="fab fa-elementor"></i>Profile
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-3">
                                                <div class="menu-ctg-title">Pages</div>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="event.html">
                                                            <i class="far fa-money-bill-alt"></i>Event</a>
                                                    </li>
                                                    <li>
                                                        <a href="single-event.html">
                                                            <i class="far fa-money-bill-alt"></i>Event Details</a>
                                                    </li>
                                                    <li>
                                                        <a href="pricing.html">
                                                            <i class="far fa-money-bill-alt"></i>Pricing Plan</a>
                                                    </li>
                                                    <li>
                                                        <a href="faq.html">
                                                            <i class="fas fa-file-archive"></i>Faq List</a>
                                                    </li>
                                                    <li>
                                                        <a href="404.html">
                                                            <i class="fas fa-exclamation-triangle"></i>404
                                                            Error</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="hide-on-desktop-menu">
                                <a href="#">Pages</a>
                                <ul class="dropdown-menu-col-1">
                                    <li>
                                        <a href="pricing.html">Pricing Plan</a>
                                    </li>
                                    <li>
                                        <a href="faq.html">Faq List</a>
                                    </li>
                                    <li>
                                        <a href="404.html">404 Error</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Blog</a>
                                <ul class="dropdown-menu-col-1">
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-list.html">Blog List</a></li>
                                    <li><a href="single-blog.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 d-none d-lg-flex align-items-center justify-content-end">
                    <div class="nav-action-elements">
                        <ul>
                            <li>
                                <button type="button" class="login-btn" data-toggle="modal" data-target="#myModal">
                                    <i class="flaticon-profile"></i>Login
                                </button>
                            </li>
                            <li>
                                <a href="add-listing.html" class="ghost-btn"><i class="fas fa-plus"></i>ADD LISTING</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>